#logoMitica, .carrito {
    width: 60px;
    margin-right: 20px;
}
#logoMitica {
    border-radius: 2rem;
}
nav{
    border-radius: .7rem;
}
.navBarLinks { 
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: auto;
    margin-bottom: auto;
    justify-items: right;
    justify-content: right;
}
.navbar-collapse {
    flex-grow: 0;
}
